<html>
    <head>
        {% include 'head.html.twig' %}
    </head>

    <body>
        {% include 'header.html.twig' %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main role="main">
        </main>

        {% include 'footer.html.twig' %}
    </body>
</html>