<html>
    <head>
        {% include 'head.html.twig' %}
    </head>

    <body>
        {% include 'header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}
    </body>
</html>