{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-warning flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1 class="jumbotron-heading">Estadisticas</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </main>
{% endblock %}